NODE_ENV=production
User=User
Password=Password
Secret=SecretSecretSecretSecret
TZ=Asia/Shanghai
title="gucheen 的近况"
description="一些突然性的想法"
site_url="https://status.guchengf.me"
mastodon_client_id="1"
mastodon_client_secret="2"
mastodon_redirect_uri="https://status.guchengf.me/mastodon"
mastodon_server="https://m.cmx.im"
ENABLE_OIDC=1
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_DISCOVERY_ENDPOINT=https://<OIDC_DOMAIN> # no trailing slashes or ".well-known/openid-configuration"
OIDC_PROVIDER_NAME=PROVIDER_NAME
