NODE_ENV=production
User=User
Password=Password
Secret=Secret
TZ=Asia/Shanghai
title="gucheen 的近况"
mastodon_client_id="1"
mastodon_client_secret="2"
mastodon_redirect_uri="https://status.guchengf.me/mastodon"
mastodon_server="https://m.cmx.im"
