<!DOCTYPE html>
<html lang="cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title || 'Status' }}</title>
    <link rel="icon" href="favicon.svg">
    <link rel="stylesheet" href="https://unpkg.com/simpledotcss@2.2.1/simple.min.css">
    <link rel="stylesheet" href="{{getResource('admin.css')}}">
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a class="{{
                html.classNames([{ current: view === 'post' }])
            }}" href="/post">Post</a>
            <a class="{{
                html.classNames([{ current: view === 'manage' }])
            }}" href="/manage">Manage</a>
            <a class="{{
                html.classNames([{ current: view === 'mastodon' }])
            }}" href="/mastodon">Mastodon Auth</a>
        </nav>
        <h1>Status</h1>
    </header>
    <main class="main">
        {{{ await $slots.main() }}}
    </main>
    <footer>
        <p>Powered by <a href="https://github.com/gucheen/status/">status</a></p>
    </footer>
    {{{ await $slots.footer() }}}
</body>

</html>
